.App {
    text-align: center;
}

.App-header {
    background-color: rgb(133, 82, 139);
    /* rgb(121, 136, 218); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Input {
    border: 2px solid #1a110c;
    height: 20px;
    width: 340px;
    border-radius: 2px;
}

.Label {
    margin: 2%;
    font-family: Comic Sans;
}

.Button {
    border: 2px solid #1a110c;
    height: 28px;
    font-size: 16px;
    width: 240px;
    border-radius: 5px;
    background-color: rgb(177, 127, 63);
    color: white;
}

.Button:hover {
    background-color: rgb(224, 198, 110));
}

.Button:active {
    background-color: rgb(160, 64, 60);
}